@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Noto+Sans:wght@900&family=Open+Sans:ital,wght@0,400;0,800;1,300&family=Playfair+Display:wght@500&family=Poppins:ital@0;1&family=Roboto&display=swap');
body {
    background-image: url("./assets/bg.png");
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#heading {
    color: #5F27CD;
    text-align: center;
    margin-top: 90px;
    font-size: 27px;
    font-family: roboto;
}

#symbol {
    margin-left: 240px;
    cursor: pointer;
}

h2{
    color: white;
    margin-left: 30px;
    cursor: pointer;
}

#play {
    height: 45px;
    margin-left: 900px;
    display: flex;
    align-self: center;
}

#button {
    margin-top: -80px;
    margin-left: 100px;
    display: flex;
}